<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Selenium_AXE_Accessibility_POM_Framework.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Selenium_AXE_Accessibility_POM_Framework.Settings.ConnectionString"
            connectionString="Input connection string" />
    </connectionStrings>
    <userSettings>
        <Selenium_AXE_Accessibility_POM_Framework.Settings>
            <setting name="Browser" serializeAs="String">
                <value>chrome</value>
            </setting>
            <setting name="Delays" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="DelayCycles" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ScreenshotPath" serializeAs="String">
                <value>c:\screenshots</value>
            </setting>
            <setting name="Headless" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppURL" serializeAs="String">
                <value>https://the-internet.herokuapp.com/challenging_dom</value>
            </setting>
        </Selenium_AXE_Accessibility_POM_Framework.Settings>
    </userSettings>
</configuration>